.tasks--type {
	color: #0086c0;
	font-weight: 600;
	padding: 16px;
}
.done {
	color: #33d391;
}
.task--header {
	padding: 1rem 1rem 1rem 0;
	display: grid;
	grid-template-columns: 1rem 170px 140px 150px 170px 100px 170px 140px;
	border-radius: 8px 8px 0 0;
	overflow: visible;
	margin: 0 auto;
	width: fit-content;
}
.task--header > * {
	padding: 8px 0;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(48, 50, 78, 0.97);
}
.task--header > :first-child {
	background-color: rgba(48, 50, 78, 1);
	position: sticky;
	left: 0;
	z-index: 1;
}

.task--card > :nth-child(2) {
	background-color: rgba(48, 50, 78, 1);
}

.tasks--list {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-bottom: 16px;
	border-radius: 0 0 8px 8px;
	margin: 0 auto;
	width: 100%;
}
.tasks--container {
	border-radius: 8px;
	background-color: rgba(48, 50, 78, 0.97);
	width: 100%;
	overflow-x: auto;
}

.task-type-container {
	margin-bottom: 54px;
	width: 80%;
}

.strip {
	background-color: rgba(48, 50, 78, 1);
	z-index: 10;
	width: 1rem;
	height: 100%;
	padding: 0;
	border: 0;
}

@media screen and (max-width: 768px) {
	.task-type-container {
		width: 100%;
	}
	.tasks--container {
		overflow-x: scroll;
		width: 100%;
	}
	.tasks--table {
		width: fit-content;
	}

	.task--header > :first-child:sticky {
		background-color: rgba(48, 50, 78, 1);
	}
	.task--card > :first-child:sticky {
		background-color: rgba(48, 50, 78, 1);
	}
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
	.task-type-container {
		width: 100%;
	}
	.tasks--table {
		width: fit-content;
		overflow: hidden;
	}
	.tasks--container {
		overflow-x: scroll;
		width: 100%;
	}
	.task--header > :first-child:sticky {
		background-color: rgba(48, 50, 78, 0.97);
	}
	.task--card > :first-child:sticky {
		background-color: rgba(48, 50, 78, 0.97);
	}
}
