.add-button,
.add-user {
	background-color: #00c875;
	border: 0;
	border-radius: 4px;
	color: white;
	padding: 8px;
	transition: background-color 0.3s ease-in-out;
}
.add-button:hover,
.add-user:hover {
	background-color: #00854d;
}

.add-buttons {
	display: flex;
	gap: 16px;
	margin: 32px auto;
}

.project-title {
	font-size: 24px;
	font-weight: 400;
	margin-top: 16px;
	margin-bottom: 16px;
}
/* .project {
	margin-bottom: 54px;
} */

.filters {
	display: flex;
	gap: 16px;
	margin: 16px auto;
}

.filters p {
	color: rgb(221, 255, 232) !important;
}

.filters select {
	height: 2rem;
	background-color: rgba(48, 50, 78, 0.97);
	color: white;
}

.add-user-overlay {
	background-color: rgba(48, 50, 78, 0.6);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-user-container {
	background-color: rgba(48, 50, 78, 0.97);
	padding: 54px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	text-align: center;
}
.add-user-inputs {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.add-user-inputs select {
	height: 45px;
	font-weight: 500;
}
.add-user-inputs input {
	height: 45px;
	margin: 0;
}
.add-user-inputs button {
	background-color: #00c875;
	transition: background-color 0.3s ease-in-out;
	border: 0;
	border-radius: 4px;
	color: white;
}
.add-user-inputs button:hover {
	background-color: #00854d;
}
.add-user-close {
	text-align: left;
	font-size: 24px;
}
