.task--card {
  display: table-row;
}

.task--card > * {
  display: table-cell;
  background-color: rgba(48, 50, 78, 0.97);
  color: #d5d8df;
  padding: 8px;
  border: 1px solid #d5d8df;
}

.task--card .task--text,
.task--card input[type="text"] {
  position: sticky;
  left: 0;
  background-color: rgba(48, 50, 78, 0.97);
  z-index: 2;
}

.select-status,
.select-priority {
  width: 100%;
}

.option-status-done {
  background-color: #d4edda;
}
.option-status-working {
  background-color: #fff3cd;
}
.option-status-stuck {
  background-color: #f8d7da;
}
.option-status-not-started {
  background-color: #d1ecf1;
}

.option-priority-low {
  background-color: #e0ffe0;
}
.option-priority-medium {
  background-color: #fffbe0;
}
.option-priority-high {
  background-color: #ffe0e0;
}
.option-priority-critical {
  background-color: #ffb3b3;
}
