.add-user-inputs {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.add-user-inputs select {
	height: 45px;
	font-weight: 500;
}
.add-user-inputs input {
	height: 45px;
	margin: 0;
}
.add-user-inputs button {
	background-color: #00c875;
	transition: background-color 0.3s ease-in-out;
	border: 0;
	border-radius: 4px;
	color: white;
}
.add-user-inputs button:hover {
	background-color: #00854d;
}

.add-user-close {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	text-align: left;
	font-size: 24px;
	transition: color 0.2s ease-in-out;
}

.add-user-close:hover {
	cursor: pointer;
	color: #00c875;
}
@media screen and (max-width: 768px) {
	.add-user-inputs {
		width: 90%;
	}
}
