nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: 292f4c;
}
.nav--container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav--left a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 16px;
	margin-right: 16px;
	transition: color 0.3s ease-in-out;
}
.nav--left a:hover {
	color: #00c875;
}
.nav--right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-letter {
	background-color: green;
	border-radius: 50%;
	width: 40px;
	aspect-ratio: 1/1;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 24px;
	font-weight: 500;
	margin-left: 16px;
}
.logout,
.change-password {
	margin-left: 16px;
	background-color: transparent;
	border: 0;
	color: white;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	padding: 8px 16px;
	border-radius: 8px;
}

.change-password {
	text-decoration: none;
}
.logout:hover {
	background-color: #676879;
}
