.filters-container {
	display: flex;
	align-items: center;
	gap: 16px;
}
.filters-title {
	font-weight: 400;
}
.filters {
	display: flex;
	gap: 16px;
	margin: 16px 0;
}

.filters p {
	color: rgb(221, 255, 232) !important;
}
.filters select {
	height: 2rem;
	background-color: rgba(48, 50, 78, 0.97);
	color: white;
	padding-left: 6px;
}
