.login-title {
  font-weight: 400;
}
.login-container {
  background-color: #2b2b5e;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  margin: 15vh auto;
  height: 50%;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}
