.login-title {
	font-weight: 400;
	color: #ffffff;
}

.login-container {
	background-color: #2b2b5e;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 30%;
	margin: 15vh auto;
	min-height: 450px;
	height: 50%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #ffffff;
}

.login-container input,
.password-field {
	width: 90%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid #444;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	outline: none;
	height: 20%;
}
.login-form {
	height: 70%;
}
.login-container input:autofill {
	width: 90%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid #444;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	outline: none;
	height: 20%;
}

.login-container button {
	width: 90%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #4caf50;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin: 16px auto 0;
}

.login-container button:hover {
	background-color: #45a049;
}
.reset-password {
	color: white;
}
.reset-password-link {
	color: green;
}
.password-field {
	display: flex;
	align-items: center;
	background-color: #333;
	padding: 0;
	overflow: hidden;
}

.password-field input {
	margin: 0;
	border: 0;
	height: 100%;
	background-color: #333;
}

.password-field input:autofill {
	height: 100%;
	background-color: #333 !important;
}

.show-password {
	margin: 0 !important;
	border-radius: 0;
	background-color: transparent !important;
	width: 20% !important;
	padding: 0 !important;
	height: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.login-container {
		width: 80%;
		height: 30% !important;
	}

	.login-container h2 {
		font-size: 20px;
	}

	.login-container button {
		font-size: 14px;
	}

	.login-container input {
		font-size: 14px;
	}

	.login-title {
		font-size: 18px;
	}
}
